<!doctype html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div layout:fragment="content">
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_6.jpg)">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="row row-mt-15em">

                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1>Мои туры</h1>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div th:if="${bookings.empty}" class="col-md-12 text-center">
                    <p>У вас пока нет бронировок.</p>
                </div>
                <div th:each="book : ${bookings}" class="col-lg-4 col-md-4 col-sm-6">
                    <a th:href="@{'/tours/' + ${book.getTour().id}}" class="fh5co-card-item">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            <img th:src="${book.getTour().loadImage()}" alt="Image" class="img-responsive">
                        </figure>
                        <div class="fh5co-text">
                            <h2 th:text="${book.getTour().getDestination()}"></h2>
                            <p th:text="${book.getTour().getShortDescription()}"></p>
                            <form th:action="@{'/bookings/cancel/' + ${book.id}}" method="post">
                                <input type="submit" class="btn btn-danger" value="Отменить">
                            </form>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
